.departure-sign {
	font-size: clamp(0.5rem, 1vw, 1rem);
	margin: 2em;
	margin-left: auto;
	margin-right: auto;
	user-select: none;

	box-shadow: 12px 12px 4px 2px rgb(0 0 0 / 25%);
	background-color: var(--departure-sign-border-color);
	color: var(--departure-sign-text-color);
	font-family: 'Roboto Mono', monospace;
	padding: 0.4em;
	border-radius: 0.2em;

	> div {
		background-color: var(--departure-sign-bg-color);
		box-shadow: inset 0 0 2px 1px #000;
		display: flex;
		flex-direction: row;
		border-radius: 0.2em;
	}
}

.departure-screen {
	margin: 0.5em;
	margin-left: 0;
	margin-right: 0;
	flex-grow: 1;
	color: var(--announcement-yellow);
	overflow: hidden;
	white-space: nowrap;
	//text-shadow: 0px 0px 0.3em var(--announcement-yellow);

	.screen {
		padding: 0.2em;
		box-shadow: inset 0 0 2px 1px #000;
		margin-left: 0.5em;
		margin-right: 0.5em;
		background: linear-gradient(
			145deg,
			rgba(19, 94, 22, 1) 0%,
			rgba(24, 115, 27, 1) 12%,
			rgba(24, 91, 26, 1) 27%,
			rgba(25, 119, 29, 1) 88%,
			rgba(11, 68, 14, 1) 100%
		);

		> * {
			overflow: hidden;
		}
	}

	.screen-divider {
		background-color: var(--departure-sign-bg-color);
		border-bottom: 0.0625em solid black;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	.departure-info {
		display: flex;
		justify-content: space-between;
		font-size: 1.2em;
		gap: 1em;
	}

	.destination {
		font-size: 2em;
	}

	.passby,
	.extra {
		font-size: 1em;
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}
}

.departure-track {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	border-right: 0.0625em solid black;
	padding: 0.5em;
	//text-shadow: 0px 0px 1em var(--split-flap-text-color);

	> label {
		font-weight: 600;
		font-size: 1em;
	}

	> div {
		font-size: 3em;
	}
}

.scroll {
	transform: translateX(0);
	animation: scroll 10s linear infinite;
}

/* Move it (define the animation) */
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.departure-info,
.destination,
.passby,
.extra,
.departure-track > div {
	line-height: 1em;
	height: 1.1em;
}
