.search {
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8em;
	font-weight: 300;
	background: var(--input-bg-color);
	border-radius: 0.2em;
	padding: 0 1em;
	height: 2em;
	display: flex;
	align-items: center;

	&-button {
		width: 2rem;
		flex: 0 0 2rem;
	}

	button {
		display: flex;
		font-size: 1em;
		font-family: inherit;
		color: var(--placeholder-color);
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
		margin: 0;

		&:disabled {
			cursor: inherit;
		}

		&:hover:enabled {
			color: var(--invalid);
		}
	}

	fa-icon {
		font-size: 0.7em;
	}
}

input {
	width: 100%;
	flex: 1 1 0;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8em;
	font-weight: 400;
	border-radius: 0;
	padding: 0;
	margin-left: 0.5em;
	margin-right: 0.5em;
	outline: none;
	border: none;
	background: none;
	color: var(--placeholder-color);
	text-overflow: ellipsis;

	&::placeholder {
		color: var(--placeholder-color);
	}
}
