<div class="search" (keyup.Enter)="submit()">
	<fa-icon *ngIf="valid === undefined" [icon]="faCircle" class="undefined"></fa-icon>
	<fa-icon *ngIf="valid === true" [icon]="faCheckCircle" class="valid"></fa-icon>
	<fa-icon *ngIf="valid === false" [icon]="faTimesCircle" class="error"></fa-icon>
	<input #input [(ngModel)]="value" [placeholder]="placeholder" />
	<button [disabled]="!value" (click)="clear()">
		<fa-icon [icon]="loading ? faSpinner : value ? faTimesCircle : faSearch" [class.fa-pulse]="loading"></fa-icon>
	</button>
	<!-- <button (click)="submit()"><fa-icon [icon]="faSearch"></fa-icon></button> -->
</div>
