<div class="search" (keyup.Enter)="submit()">
	<fa-icon *ngIf="valid === undefined" [icon]="faCircle"></fa-icon>
	<fa-icon *ngIf="valid === true" [icon]="faCheckCircle"></fa-icon>
	<fa-icon *ngIf="valid === false" [icon]="faTimesCircle"></fa-icon>
	<input #input [(ngModel)]="value" [placeholder]="placeholder" />
	<div class="search-button">
		<button [disabled]="rightIcon != faBackSpace" (click)="clear()" *ngIf="rightIcon">
			<fa-icon [icon]="rightIcon" [class.fa-spin]="loading"></fa-icon>
		</button>
	</div>
</div>
