ul {
	font-family: 'Roboto Mono', monospace;
	text-align: left;
	list-style: none;
	display: flex;
	flex-direction: column;

	border-radius: 0.2em;
	padding: 0.5em 0;
	margin: 0.25em 0;

	background-color: white;
	color: black;

	box-shadow: 0px 0px 10px 0px #0000002e;
}
