/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;

	background-color: var(--bg-color);
}

table,
tr,
th,
td,
button {
	margin: 0;
	padding: 0;
	border-spacing: 0;
}

h1 {
	font-size: 3em;
	font-weight: 200;
}

:root {
	--bg-color: #cfcfcf;
	--text-color: #000000;

	--input-bg-color: rgb(255, 255, 255, 0.15);
	--placeholder-color: #ffffff;
	--selected-bg-color: #ccd1df;

	--split-flap-text-color: white;
	--split-flap-border-color: #222222;
	--split-flap-background-color: #303134;

	--announcement-yellow: #ffff33;

	--loading-indicator: var(--announcement-yellow);

	--invalid: #ff3399;
	--valid: #33ff99;

	--departure-sign-bg-color: var(--split-flap-border-color);
	--departure-sign-text-color: var(--split-flap-text-color);
	--departure-sign-border-color: var(--split-flap-background-color);

	@media (prefers-color-scheme: dark) {
		//--bg-color: #202124;
		//--text-color: #e8eaed;
	}
}

.footer {
	background: url('https://images.unsplash.com/photo-1565900290200-52daa0c9faec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2065&q=80');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 20rem;
	background-position: 50% 100%;
}
