:host {
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

caption {
	position: relative;
	color: #fff;
	text-align: left;

	> label {
		font-size: 1.5em;
	}
}

th {
	font-size: 0.6em;
	padding-bottom: 1em;
	> label {
		display: block;
	}
}

.loading-icon {
	position: absolute;
	top: 0.2em;
	right: 0.2em;
	width: 0.75em;
	height: 0.75em;
	border-radius: 50%;
	background-color: black;
	cursor: pointer;
}

.load {
	animation: flashing 0.5s infinite ease-in-out alternate;
}

.EN {
	color: var(--announcement-yellow);
}

@keyframes flashing {
	100% {
		background-color: var(--announcement-yellow);
		box-shadow: 0 0 6px 2px var(--announcement-yellow);
	}
}

.grid {
	box-sizing: border-box;
	width: 100%;
	max-width: 1200px;
	padding: 0 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;

	app-departure-screen {
		width: 100%;
		min-width: 0;
	}

	@media screen and (max-width: 800px) {
		grid-template-columns: 1fr;
	}
}
